*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header .header-actions {
  margin-left: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  float: left;
}